@value makerLightGrey,makerWhite from "common/colors.css";
@value mediaQuery from "common/size.css";

/* 광고 블럭 */
.ad {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid makerLightGrey;
  border-radius: 5px;
  background-color: makerWhite;
}
.sponsored {
  padding-bottom: 20px;
  font-size: 0.8rem;
  color: makerMediumGrey;
  opacity: 0.6;
}

.body {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 44%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img > img {
  width: 100%;
}

.body > .text {
  width: 53%;
}

.body .contents {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.title {
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents {
  color: makerDarkGrey;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: mediaQuery) {
  .ad {
    border: none;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .body {
    flex-direction: column;
  }

  .img,
  .body > .text {
    width: 100%;
  }

  .img {
    margin-bottom: 10px;
  }
}
