@value makerMediumGrey, makerLightGrey, makerGreen from "common/colors.css";
@value mediaQuery from "common/size.css";

.detail {
  padding: 15px;
  margin: 40px 0 20px;
  border: 1px solid makerGreen;
  border-radius: 5px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.title {
  padding-bottom: 10px;
}
.contents {
  color: makerDarkGrey;
  font-size: 0.9rem;
}

.date {
  padding-top: 15px;
  font-size: 0.7rem;
  color: makerMediumGrey;
  opacity: 0.5;
}

.reply_count {
  padding-left: 5px;
  color: makerGreen;
}

.replies {
  padding-top: 15px;
}

.reply {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid makerLightGrey;
  border-radius: 5px;
  font-size: 0.8rem;
  color: makerMediumGrey;
}

.reply_username {
  font-size: 0.9rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid makerLightGrey;
  opacity: 0.8;
}

.reply_email{
  padding-left:10px;
  opacity:0.5;
}

.reply_date {
  padding-top: 15px;
  font-size: 0.7rem;
  opacity: 0.6;
}

@media (max-width: mediaQuery) {
  .detail {
    border-radius: 0;
    border: none;
    border-top: 1px solid makerGreen;
    border-bottom: 1px solid makerGreen;
  }

  .reply {
    border-radius: 0;
    border: none;
    border-top: 1px solid makerLightGrey;
    border-bottom: 1px solid makerLightGrey;
  }

  .reply_title {
    padding-left: 15px;
  }
}
