@value makerGreen, makerWhite, makerLightGrey from "common/colors.css";
@value mediaQuery from "common/size.css";

.home{
    padding-top:20px;
    display:flex;
    justify-content: space-between;
}

.login{
    width:10%;
    height:30px;
    margin-right:20px;
    border-radius:2px;
    border:none;
    color:makerWhite;
    font-weight:700;
    background-color: makerGreen;
}
.contents{
    width:89%;
    /* position:relative; */
}

.feeds{
    margin-top:20px;
}

@media (max-width:mediaQuery){
    .login{
        display:none;
    }

    .contents{
        width:100%;
    }

    .feeds{
        background-color:makerLightGrey;
    }
}