@value makerGreen, makerWhite, makerLightGrey, makerMediumGrey from "common/colors.css";
@value mediaQuery from "common/size.css";

.home {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.filtered{
  padding-top: 20px;
}

.login {
  width: 10%;
  height: 30px;
  margin-right: 20px;
  border-radius: 2px;
  border: none;
  color: makerWhite;
  font-weight: 700;
  background-color: makerGreen;
}
.contents {
  width: 89%;
}

.feeds {
  margin-top: 20px;
}

/* loading */
.loading {
  width: 30px;
  height: 30px;
    margin:30px auto;
  border-radius: 50%;
  border: 3px solid makerLightGrey;
  border-top: 3px solid makerGreen;
  animation: spin 0.8s linear infinite;
}

/* toggleAd */
.toggleAd{
  padding-top:8px;
  font-size:0.7rem;
  color:makerMediumGrey;
}

.toggleAd > input{
  margin-right:5px;
  vertical-align: middle;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: mediaQuery) {
  .login {
    display: none;
  }

  .contents {
    width: 100%;
  }

  .feeds {
    background-color: makerLightGrey;
  }

  .toggleAd{
    padding-left:15px;
  }
}
