@value makerLightGrey,makerMediumGrey, makerGreen, makerBlack from "common/colors.css";
@value mediaQuery from "common/size.css";

.order_standard {
  display: flex;
  color: makerMediumGrey;
  font-size: 0.5rem;
}
.order {
  opacity: 0.5;
  margin-right: 5px;
  cursor: pointer;
}

.circle {
  padding-right: 3px;
}
.selected {
  opacity: 1;
  color: makerBlack;
}

.selected .circle {
  color: makerGreen;
}

@media (max-width: mediaQuery) {
  .order_standard {
    padding: 0 15px 20px;
    border-bottom:1px solid makerLightGrey;
  }
}
